@import "../../theme/variables";

$size: 24px;

.badge {
    border-radius: 50%;
    display: inline-block;
    height: $size;
    margin-left: 5px;
    vertical-align: middle;
    width: $size;

    > svg {
        path {
            fill: $secondary;
        }
    }
}